*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
.debug{
    border: 1px solid rgb(255, 255, 255);
}
body{
 background-color: black;
 color: white;
}
.page{
    height: 100vh;
    width: 100%;
}
.page-container{
    width:100%;
    height: calc(100% - 80px);
    background-color: rgb(0, 0, 0);
    display: flex;
}
.top{
    width:calc(100% - 230px);
    height:90px;
    position: fixed;
    z-index:1000;
    background-color:rgb(0, 0, 0);
    opacity:0.6;
    margin-bottom: 10px;
    display:flex;
    justify-content: flex-end;
}

.menù{
    margin-top:90px;
    width: 100%;
    color: grey;
    font-family:'Montserrat', sans-serif; 
   display: flex;
}
.list-menù{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width:60%;
    margin-left:20%;
    margin-top:10px;  
}
.upgrade:hover{
font-size:20px;
width:20%;
height:40%;
color: black;
background-color: white;
transition:2s;

}
a .img:hover{
    opacity: 0.7; 
}
a{
    color: rgb(190, 186, 186);
    text-decoration:none;
}
a:hover{
    text-decoration: underline rgb(134, 190, 3) 3px;
    color: white;
}  

.upgrade{
    width:15%;
    height:40%;
    margin-top:20px;
    border-radius:15px;
    text-align: center;
    padding-top:5px;
   margin-right:2%;
    font-family:'Montserrat', sans-serif; 
}
#logo{
    height:70%;
    width:70%;
    padding-top: 10px;
    color: white;
}
.svg{
    height:20px;
    width:20px;
    margin-right:5px;
    margin-top: 10px;
    margin-left: 6%;
}
.svg-profile{
    height:20px;
    width:20px;
    margin-top:10px;
    margin-left:10px;
}
.profile{
    margin-top:100px;
    align-content: center;
}
p{
    font-family:'Montserrat', sans-serif; 
    margin-top: 20px;
    margin-left: 6%;
}
.playlist{
    margin-top:13px;
    font-family:'Montserrat', sans-serif; 
    margin-left: 6%;
    list-style-type: none;
}
aside{
    width: 230px;
    background-color: rgb(0, 0, 0);
    display:flex;
    color: grey;
    opacity: 0.9;
    font-family:'Montserrat', sans-serif; 
}
main{
    height: 100%;
    width: calc(100% - 230px);
    background-color: rgb(19, 18, 24);
    overflow-y: auto;
    
}
.sezione li{
    width: calc(100% / 6);
    position: relative;
}
img  {
    width:90%;

}
.img1  {
    padding-top:20px;
    border-radius:100%;
}

 li .overlay:hover{
    position: absolute;
    display:table;
    width:90%;
    height:90%;
    top:0;
    left:0;
    right:0;
    bottom:70px;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    
}
li .fa-regular-fa .overlay{
    position: relative;
    transform: translate(-50% ,-50%);   
}
.fa-regular-fa:hover{
    

}
h2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family:'Montserrat', sans-serif; 
}
h6{
    font-family:'Montserrat', sans-serif;
    color: grey;
}
footer{
    height: 80px;
    width: 100%;
    background-color: rgb(56, 53, 53);
    position: fixed;
    bottom: 0%;
}
.player{
    height: 100%;
    display: flex;
}
.title{
    display: flex;
    padding-top:8px;
    padding-left:5px;
    height:90%;
    width: 25%;
    justify-content:space-between;
    align-items: center;
    color: grey;
}

.album{
    list-style-type: none;
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    width: 100%;  
}
li{
    position: relative;
}
ul{
    list-style-type: none;
    color: white;
    opacity: 0.7;
    font-family:'Montserrat', sans-serif;   
}

.box2{
    color: white;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top:7px;
    height:30%;
}

.fa-solid-fa{
    color: white;
    margin-top: 5%;
    margin-right: 5%; 
}
.video{
    margin-left:10%;
    display: flex;
    width:15%;
    height:10px;
   padding-top:20px;
   font-family:'Montserrat', sans-serif; 
      
}
.video1{
    display: flex;
    margin-left:20%;
    margin-top:10px;
    width:55%;
    height:10%;
    border-radius:5px;
    background-color: rgb(141, 140, 140);  
}
.color{
    width: 20%;
    background-color: white;
}
.video2{
    margin-top:-8px;
    padding-bottom:10px;
    display: flex;
    margin-left: 80%;
    width:15%;
    height:10px;
    font-family:'Montserrat', sans-serif; 
    align-items: center;  
}
.play{
justify-content: center;
height:90%;
width:50%;
color: white;
}
.volume
{
display: flex;
align-items: center;
justify-content:flex-start;
gap:8%;
padding-left:5px;
width: 25%;
height:90%;
}
.volume1{
    display: flex;
    width:60%;
    height:8%;
    border-radius:5px;
    background-color: rgb(141, 140, 140);  
}






@media screen and (min-width:576px){
 .page container footer{
     flex-wrap: no-wrap;
     float: left;
 }
    
}